h1{

    text-align: center;
    font-size: 50px;
    margin: 200px 0px 0px 0px;

}


#buttonBox {
    
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    

}
.toFixedWelcome {

    bottom: 40%;
    left: 50%;

}

.toFixedEscena {

    bottom: 50%;
    left: 50%;

}